body{
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}
.contact-form .form-submit-btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

/* map-section */

.map-section img{
    max-width: 100%;
}