* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    /* background: url(./image/BG1.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.form-contact{
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 20px;
    margin-top: 30px;
}

.form-contact p{
    color: red;
    font-size: large;
    text-align: left;
}

.form-contact .write{
  text-align: right;
  
}


.form-contact .write textarea,
.form-contact .write input{
  width: 50%;
}

.form-contact .tick-box{
  text-align: center;
}

.form-contact .write textarea{
  vertical-align:top;
}

.form-contact .write label{
  margin-right: 30px;
}

.form-contact hr{
 
  margin-top: 10px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #cc0000;

}

@media (max-width: 991px){
  .form-contact .write{
    text-align: left;
    
  }

  .form-contact .write label{
    margin-right:0;
  }
  .form-contact .write textarea,
  .form-contact .write input{
    float: right;
  }
}
