* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.flexbox {
  background: linear-gradient(155deg, #FFD8CB, #F9D29D);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}



.search>h1 {
  font-size: 80px;
  ;
}

.search>h1 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}



.search-bar{
  background: #fff;
  width: 100%;
  max-width: 500px;
  display: flex;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#select{
  background: #fff;
  display: flex;
  justify-content: space-between;
  color: #000;
  width: 200px;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

#select p{
  font-size: 20px;
}

#select ul{
  position: absolute;
  top: 105%;
  left: 0;
  list-style: none;
  background: #fff;
  color: #555;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul li{
  padding: 10px 20px;
  cursor: pointer;

}

.search-bar input{

  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}

#select ul.open{
  max-height: 300px;

}
