* {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    background: linear-gradient(155deg, #FFD8CB, #F9D29D);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.search>h1 {
    font-size: 100px;
}

.search>h1 {
    color: white;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}

.search-bar {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#select {
    background: #fff;
    display: flex;
    justify-content: space-between;
    color: #000;
    width: 200px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

#selectText{
    margin: 0;
    font-size: 15px;
    justify-content: center;
}

#select p {
    font-size: 15px;
}

#select ul {
    position: absolute;
    top: 105%;
    left: 0;
    list-style: none;
    background: #fff;
    color: #555;
    width: 160%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    overflow: scroll;
}

#select .place{
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#list{
    width: 700px;
}

ul li:first-child{
    text-align: center;
}

#list p{
    font-size: 20px;
}

#list img{
    height: 50px;
    width: 70px;
    padding-right: 15px;
}

#list p:hover{
    color: rgb(134, 226, 226);
}

#list img:hover{
    height: 150px;
    width: 150px;
    border-radius: 0;
}



/* input search */

.search-bar input {
    width: 500px;
    border: none;
    outline: none;
    font-size: 25px;
    text-align: center;
}

#select ul.open {
    max-height: 200px;
}


@media(min-width:740px )and (max-width:1023px){
    .search h1 {
        font-size: 80px;
        text-align: center;
    }

    .search-bar input {
        width: 400px;
        border: none;
        outline: none;
        font-size: 30px;
        text-align: center;
    }

    #list p:hover{
        color: rgb(134, 226, 226);
    }
}

@media(max-width:740px ){
    .search h1 {
        font-size: 40px;
        text-align: center;
    }

    #selectText{
        font-size: 5px;
    }

    #select{
        width: 160px;
        font-size: 10px;
    }
    #select ul{
        width: 150%;
    }

   #list p{
    font-size: 15px;
   }

    .search-bar input {
        width: 150px;
        height: 60px;
        border: none;
        outline: none;
        font-size: 12px;
        text-align: center;
    }

}
